body {
  font-family: 'Dancing Script', cursive;
  font-family: 'Noto Sans JP', sans-serif;
}

.footer {
  background-color: #1a4b5f;
  color:#f7f9fa;
  height: 100px;
}

.footer-list {
  float: right;
  margin-right: 20px;
}

.footer-list li{
  padding: 8px;
}

.footer-logo {
  float: left;
  font-size: 25px;
  padding: 25px 20px;

}

header {
  background-color: #0d262f;
  color: #fbfcfc;
  height: 60px;
  overflow: hidden;
}

.header-logo {
  float: left;
  font-size: 30px;
  padding: 15px 40px;
}

.header-list li{
  float: left;
  padding: 25px 40px;
  display: block;
}

.main {
  text-align:  center;
}

.main-content {
  height: 400px;
  width: 100%;
  background-image: url('../images/clack-test/businessman-large.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: transparent;
}

.main-content p {
  color: #c5cfd4;
  font-size: 60px;
  position: absolute;
  top:40%;
  left: 20%;
  font-family: 'Dancing Script', cursive;
}

  .sub-content {
    width: 30%;
    height: 100%;
    display: inline-block;
    margin: 5px;
  }
  .sub-content-wrapper {
    padding: 5px;
    background-color:  #dbe7e6;
    max-height: 450px;
    text-align:  center;
  } 


