  /* .sub-content-wrapper {
  background-color: #eee;
  padding:  10px;
  display: flex;
}

.sub-content {
  padding: 20px;
  color:  #fff;
  margin:  10px;
  border-radius:  5px;
  width: 33%;
  flex: auto;
} */
